  <!-- First Band (Image) -->

  <div class="row">
    <div class="large-12 columns">
      <img src="/images/about/02.jpg">
      <hr>
    </div>
  </div>

<!-- Three-up Content Blocks -->

  <div class="row">

    <div class="large-12 columns">
      <h2><%= t(:about_title)%></h2>
      <p><%= t(:about_description)%></p>
    </div>
  </div>

  <div class="row">

    <% t("about_list").each do |item| %>
    <div class="large-6 medium-6 small-12 columns">
      <h3><%= item['name']%></h3>
      <h4 class="subheader"><%= item['title']%></h4>
          <p></p>
      <%= image_tag("#{item['image_path']+item['image']}")%>
          <p></p>
        <% item["description"].each do |paragraph| %>
          <p><%= paragraph %></p>
        <% end %>
        <% if item["cite"]%>
          <blockquote><%= item["cite"]%><cite><%= item["reference"]%></cite></blockquote>
        <% end %>
    </div>
    <% end %>

  </div>