
<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns">
        <div data-orbit id="slider" data-options="timer_speed:4000;resume_on_mouseout:true;">
<!--           <li>
            <img src="/images/home/slider/orbit_01.jpg" />
            <div class="orbit-caption">
              Nivo es una herramienta web
            </div>
          </li> -->
          <li>
            <img src="/images/home/slider/orbit_02.jpg" />
              <div class="orbit-caption">
                Filtro en tiempo real sobre el mapa
              </div>
          </li>
           <li>
            <img src="/images/home/slider/orbit_03.jpg" />
              <div class="orbit-caption">
                Información de tu entorno
              </div>
          </li>
        </div>
    </div>
  </div>
  
<!-- Three-up Content Blocks -->

  <div class="row">

    <div class="large-12 columns">
      <h1> <%= t(:home_title)%></h1>
      <h3 class="subheader"> <%= t(:home_subtitle)%></h3>
      <% t(:home_description).each do |paragraph| %>
      <p><%= paragraph %></p>
      <% end %>
      <p></p>
    </div>

    <% t("home_list").each do |item| %>
    <div class="large-4 medium-6 small-12 columns">
      <div align="center">
        <%= image_tag("#{item['image_path']+item['image']}", :class=>"centeredImage", :width=>"75%")%>
      </div>  
      <h3 align="center"><%= item['name']%></h3>
      <h5 class="subheader" align="center"><%= item['subtitle']%></h5>
        <% item["description"].each do |paragraph| %>
          <p></p>
          <p><%= paragraph %></p>
          <p></p>
        <% end %>
<!--       <%=  link_to item[:link_text], item[:link_path], :class => "tiny button center" %>
 -->    </div>
    <% end %>

  </div>


  <div class="container" align="center">
    <p></p>
    <iframe src="//player.vimeo.com/video/92779376?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="800" height="450" frameborder="0"></iframe>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <p></p>
      <div class="panel">
        <h4><%= t(:contact_us_box_header) %></h4>
        <div class="row">
          <div class="large-9 columns">
            <p><%= t(:contact_us_box_text) %></p>
          </div>
          <div class="large-3 columns">
            <%=  link_to t(:contact_us_box_button), contact_path, :class => "radius button right" %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->

  </body>
</html>




