  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-7 columns">
      <h3><%= t(:contact_header)%></h3>
      <p><%= t(:contact_text)%></p>

      <div class="section-container tabs" data-section>
        <section class="section">

          <div class="content" data-slug="panel1">

            <%= form_for @message, :url => contact_path do |form| %>

              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_name), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :name, :placeholder => t(:contact_placeholder_name) %>
                </div>
              </div>
              
              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_email), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :email, :placeholder => t(:contact_placeholder_email) %>
                </div>
              </div>

              <div class="row collapse">
                <div class="large-2 columns">
                  <%= form.label t(:contact_field_subject), :class => "inline" %>
                </div>
                <div class="large-10 columns">
                  <%= form.text_field :subject, :placeholder => t(:contact_placeholder_subject) %>
                </div>
              </div>
              
              <div class="field">
                <%= form.label t(:contact_field_body) %>
                <%= form.text_area :body, :placeholder => t(:contact_placeholder_body) %>
              </div>
            
              <%= form.submit t(:contact_form_button), :class => "radius button" %>

          <% end %>

          </div>
        </section>
      </div>
    </div>
 
    <!-- End Contact Details -->


    <!-- Sidebar -->
 
 
    <div class="large-5 columns">
      <br>
      <div class="panel">
        <h5><%=t(:contact_location_title)%></h5>
        <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <div class="flex-video">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3329.085819193805!2d-70.6428794!3d-33.44707059999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c575030fa2ab%3A0x9c1de75323fec7c2!2sRoot+537!5e0!3m2!1ses!2ses!4v1398200110607" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
        <p>Root 537. Santiago<br/>
        <%=t(:contact_phone)%><br/>
        <%=mail_to t(:contact_email), t(:contact_email), subject: "[Nivo]"%></p>
      </div>
    </div>


    <!-- End Sidebar -->
  </div>

 
  <!-- End Main Content and Sidebar -->
 
  </body>
</html>