  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-4 columns">
          <img src="/images/logo_50.png"/>
          <p> </p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><%=  link_to t(:home), home_path%></li>
            <li><%=  link_to t(:about_us), about_path%></li>
            <li><%=  link_to t(:how), how_path%></li>
            <li><%=  link_to t(:demo), demo_path%></li>
            <li><%=  link_to t(:contact_us), contact_path%></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>