
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%=  link_to image_tag('/images/logo_bn.png'), home_path%></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="/home">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
      <li><%=  link_to t(:home), home_path%></li>
      <li><%=  link_to t(:about_us), about_path%></li>
      <li><%=  link_to t(:how), how_path%></li>
      <li><%=  link_to t(:demo), demo_path%></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="right">
      <li> <%=  
            if I18n.locale == :es
                    link_to("English", url_for(:locale => :en))
            else
                    link_to("Español", url_for(:locale => :es))
            end
            %>
      </li>
      <li class="has-form"> <%=  link_to t(:contact_us), contact_path %></li>
    </ul>
  </section>
</nav>