<!DOCTYPE html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nivo" %></title>

    <%= stylesheet_link_tag    "application"%>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
    
 
  <body>

    <%= render "layouts/navigation" %>

<!-- End Header and Nav -->

    <%= yield %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application"%>
    <script>
      $(document).foundation({topbar : {custom_back_text: false }}); 
    </script>

